

@bold:'Open Sans bold';
@regular:'Open Sans regular';@font-face {
  font-family: 'Open Sans bold';
  src: url('../../fonts/OpenSans-Bold.eot');
  src: url('../../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../../fonts/OpenSans-Bold.woff') format('woff'),
  url('../../fonts/OpenSans-Bold.ttf') format('truetype'),
  url('../../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans regular';
  src: url('../../fonts/OpenSans-Regular.eot');
  src: url('../../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../../fonts/OpenSans-Regular.woff') format('woff'),
  url('../../fonts/OpenSans-Regular.ttf') format('truetype'),
  url('../../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@bold:'Open Sans bold';
@regular:'Open Sans regular';

header{
  background-color: #222222;
  height: 8%;

  p,span,a{
    color:#eeeeee;
    text-decoration: none;
    border: none;
    font-family:@regular,sans-serif ;
    font-size: 12px;
  }


  .first-line-in-header{
    margin-top: 10px;
    width: 100%;
    height: 50%;

    .contact{
      width: 50%;

      .phone,.mail,span{
        padding-right: 5px;
      }

      .phone{
        padding-right: 40px;
      }
    }
    .log-in-out{
      width: 50%;
      a{
        padding-left: 30px;
      }
      a:hover{
        text-decoration: none;
        color:white;
      }
    }
  }
  .second-line-in-header{
    width: 100%;
    height: 50%;
    .logo,.form,.balance{
      width: 33%;
    }
    .logo{
      justify-content: center;
      text-transform: uppercase;

      p{
        color:#48689a;
        font-family:@bold,sans-serif ;
        font-size: 40px;
      }
    }
    .form{

      width: 50%;
      padding-top: 15px;

      form{
        width: 100%;



        input{
          text-decoration: none;
          border: none;

          height: 31px;
          margin-left: 35px;
          width: 80%;

          -webkit-border-radius: 4px 0 0 4px;
          -moz-border-radius: 4px 0 0 4px;
          -ms-border-radius: 4px 0 0 4px;
          -o-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
          outline: none;
        }
        button{

          text-decoration: none;
          border: none;
          outline: none;
          background-color: #48689a;
          margin-left: -5px;
          padding: 4px 16px 3px 16px;
          color:white;

          -webkit-border-radius: 0 4px 4px 0;
          -moz-border-radius: 0 4px 4px 0;
          -ms-border-radius: 0 4px 4px 0;
          -o-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
        }
      }

    }
    .balance{
      justify-content: flex-end;
      margin-top: 10px;

      .circle{
        height: 29px;
        width: 29px;
        padding: 1px 0px 0px 7px;
        background-color: #2e5188;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
        border-radius: 13px;
      }
      p{
        padding-top: 6px;
        padding-left: 5px;
      }
    }
  }
}


.flex{
  display: -webkit-flex;
  display: flex;

}
.vertical-s-a{
  flex-direction: column;
  justify-content: space-around;
}
.vertical-center{
  flex-direction: column;
  justify-content: center;
}
.horizontal-s-b{
  justify-content:space-between;
}
.horizontal-s-a{
  justify-content:space-around;
}
.horizontal-end
.f-s-1{
  flex-shrink: 1;
}

.end{
  justify-content: flex-end;
}


.horizontal-center{
  justify-content: center;
}

.info-horizontal-center{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.info-horizontal-center-wrap{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.info-horizontal{
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.info-horizontal-wrap{
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}
.info-vertical{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}


@media   all and  (max-width: 568px){
  body{
    background-color: pink;
  }
}

@media  all and  ( max-width: 768px){

  body{
    background-color: yellow;
  }
}
@media  all and    ( max-width: 1024px){
  body{
    background-color: blue;
  }
}
@media  all and   ( max-width: 1280px){
  body{
    background-color: black !important;
  }
}
@media  all and  (min-width: 1281px){
  body{
    background-color: red;
  }
}
